@model StratasFair.BusinessEntity.Front.ScheduleMeetingModel

<div class="modal-body">
    <h4>@Model.Subject</h4>
    <span class="date">@Model.CreatedOn.Replace(",", "")</span>
    <p>
        @Model.Message
    </p>
</div>
