@model StratasFair.BusinessEntity.Front.MaintenanceScheduleModel

<div class="modal-body">
    <h4>@Model.CommonAreaName</h4>
    <span class="date">@Model.CreatedOn.Replace(",", "")</span>
    <p>
        @Model.Description
    </p>
</div>
