@using StratasFair.Business.Front;
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoggedInClientUser.cshtml";
}
@model StratasFair.BusinessEntity.Front.ClientForgetPasswordModel

<div class="login-body">
    <div class="container">
        <div class="login-box">
            <form action="" class="login-form" method="post">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1>Forgot your password ?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">

                            @Html.Label("Email Address")
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @value = "", @type = "email" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="form-group">
                            <input name="submit" value="Submit" formaction="forgotpassword" class="btn btn-lg btn-block btn-yellow" type="submit">
                        </div>
                        <div class="form-group">
                            @{
                                string portalname = string.Empty;
                                if (HttpContext.Current.Request.Url.Segments[1].Replace("/", "").ToLower() != "stratasfair")
                                {
                                    portalname = HttpContext.Current.Request.Url.Segments[1].Replace("/", "");
                                }
                                else
                                {
                                    portalname = HttpContext.Current.Request.Url.Segments[2].Replace("/", "");
                                }
                            }
                            <a href="@Url.Content("~/" + portalname + "/login")">Back To Login</a>
                        </div>
                    </div>
                </div>
            </form><!-- Form End -->
        </div>
    </div>
</div><!-- login-body End -->

