@model StratasFair.BusinessEntity.Front.AlertAndNotificationModel

<div class="modal-body">
    <h5 class="text-center">View Alert</h5>
    <form action="" class="form-section">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Type</label>
                    @Html.TextBoxFor(m => m.MessageTypeName, new { @class = "form-control", @readonly = true })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Title</label>
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @readonly = true })
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label>Message</label>
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", @readonly = true })
                   
                </div>
            </div>
        </div>
       </form><!-- Form End -->
</div>
