@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_LoggedInClientUser.cshtml";
}
<html>
<head>

    <style>
        .content-wrapper {
            background: #ECF0F5;
            color: red;
            font-size: 60px;
            text-align: center;
            padding-top: 39vh;
            padding-bottom: 38vh;
        }
    </style>
</head>
<body>
    <span class="glyphicon glyphicon-ban-circle"></span> <h1> <font color="red">Page Not Found</font></h1>
</body>
</html>