<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="StratasFairDBEntities" connectionString="metadata=res://*/StratasFairModel.csdl|res://*/StratasFairModel.ssdl|res://*/StratasFairModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NMG-SQL2012-NEW;initial catalog=StratasFairDB;user id=sa;password=admin@123;multipleactiveresultsets=True;connect timeout=3600;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--Demo Server DB-->
    <!--<add name="StratasFairDBEntities" connectionString="metadata=res://*/StratasFairModel.csdl|res://*/StratasFairModel.ssdl|res://*/StratasFairModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NMG_DOTNET_DEMO;initial catalog=StratasFairDB;user id=sa;password=786!@#Nmg!@#786;connect timeout=3600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>