@model StratasFair.BusinessEntity.Front.CommonAreaModel


    <script type="text/javascript">


        function FnEditCommonAreaBegin() {
            $("#btnSubmit").hide();
            $("#dvLoader").show();
        }

        function FnEditCommonAreaSuccess(data) {

            $("#btnSubmit").show();
            $("#dvLoader").hide();
            if (data.result == 1) {
                $("#RequestTitle").val('');
                $("#Details").val('');

                swal({
                    type: "success",
                    title: "Success",
                    showConfirmButton: true,
                    showCancelButton: false,
                    confirmButtonText: "OK",
                    closeOnConfirm: true,
                    text: "<b>" + data.Msg + "</b>",
                    html: true
                }, function () {
                    window.location = window.location;
                });
            }
            else {
                swal({
                    type: "warning",
                    title: "Failed",
                    showConfirmButton: true,
                    showCancelButton: false,
                    confirmButtonText: "OK",
                    closeOnConfirm: true,
                    text: "<b>" + data.Msg + "</b>",
                    html: true
                });
            }
        }
    </script>


    <div class="modal-body">
        <h5 class="text-center">Edit Resource/Common Area</h5>

        @using (Ajax.BeginForm("EditCommonArea", "CommonArea", FormMethod.Post, new AjaxOptions { OnSuccess = "FnEditCommonAreaSuccess(data)", OnBegin = "FnEditCommonAreaBegin()" }, new { @class = "form-section", @id = "frmEditCommonArea" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CommonAreaId)
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label>Resource/Common Area<span class="required">*</span></label>
                        @Html.TextBoxFor(m => m.CommonAreaName, new { @class = "form-control", @maxlength = "100" })
                        @Html.ValidationMessageFor(m => m.CommonAreaName)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <input name="submit" value="Submit" class="btn btn-sm btn-block btn-yellow" type="submit">
                    </div>
                </div>
            </div>
        }<!-- Form End -->
    </div>