<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="WebsiteRootPath" value="http://localhost:63456/" />
    <add key="IsReqSSLInMail" value="Y" />
    <add key="SubscriptionExpireReminderLogFile" value="D:\TFSNEW\StratasFair\StratasFair.NotificationService\SubscriptionExpireReminder-log.txt" />
    <add key="OwnerReminderServiceLogFile" value="D:\tfs_projects\StratasFair\StratasFair.NotificationService\OwnerReminderService-log.txt" />
  </appSettings>
  <connectionStrings>
    <add name="StratasFairConnectionStr" connectionString="server=NMG-SQL2012-NEW; database=StratasFairDB; uid=sa; pwd=admin@123; timeout=3600" providerName="System.Data.SqlClient" />
    <add name="StratasFairDBEntities" connectionString="metadata=res://*/StratasFairModel.csdl|res://*/StratasFairModel.ssdl|res://*/StratasFairModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NMG-SQL2012-NEW;initial catalog=StratasFairDB;user id=sa;password=admin@123;connect timeout=3600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>